<!DOCTYPE html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="mycss.css">

    <script type="text/javascript" src="script.js"></script>
    <title>MySmartHome</title>
</head>

<body class="container">


    <div class="menuBar">
        <h3 class="logo">E<span class="logospan"><a href="/home"></a> HOMES</span></h3>
        <nav class="navBar">
            <ul class="navLinks">
                <li><a href="/home">HOME</a></li>
                <li class="dropDownLink">
                    <a href="#">MENU</a>
                    <div class="menu">
                        <ul>
                            <li><a href="/addDevice">ADD DEVICE</a></li>
                            <li><a href="/controlDevice">CONTROL</a></li>
                            <li><a href="/deviceStatus">STATUS</a></li>
                            <li><a href="/deleteDevice">DELETE DEVICE</a> </li>
                        </ul>
                    </div>
                </li>
                <li><a href="/aboutpage">ABOUT</a></li>
            </ul>
        </nav>
    </div>


    <h1 class="add_device_header">About us</h1>
    <section class="about-page">
        <div>
            <h3>Mission:</h3>
            <p>To create an ecosystem for your personal home. <br> We believe home should feel like home.
            </p>
        </div>

        <div class="dev_name">
            <i class="fa-solid fa-user"></i>
            <p>Developer: Gerald Kanzara.</p>
        </div>

        <div class="contact">
            <h2>Contact us at:</h2>
            <p><i class="fa-solid fa-envelope"></i>easehomes@gmail.com</p>
            <p><span><i class="fa-solid fa-phone"></i></span> +81 0002222093</p>
        </div>

    </section>


    <footer>
        <div>
            <p>Privacy Policy</p>
        </div>
        <div>
            <p> ©2022 @EaseHomes CO.., Ltd All rights reserved.</p>
        </div>
    </footer>
</body>



</html>