<!DOCTYPE html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- css -->
    <link rel="stylesheet" href="mycss.css">

    <script type="text/javascript" src="script.js"></script>
    <title>MySmartHome</title>
</head>

<body class="container ">


    <div class="menuBar">
        <h3 class="logo">E<span class="logospan"><a href="/home"></a> HOMES</span></h3>
        <nav class="navBar">
            <ul class="navLinks">
                <li><a href="/home">HOME</a></li>
                <li class="dropDownLink">
                    <a href="#">MENU</a>
                    <div class="menu">
                        <ul>
                            <li><a href="/addDevice">ADD DEVICE</a></li>
                            <li><a href="/controlDevice">CONTROL</a></li>
                            <li><a href="/deviceStatus">STATUS</a></li>
                            <li><a href="/deleteDevice">DELETE DEVICE</a> </li>
                        </ul>
                    </div>
                </li>
                <li><a href="/aboutpage">ABOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class="hero">
        <div class="hero-text">
            <h1 class="homepage_header">Ease Homes</h1>
            <p>Best solutions for your dream home</p>
        </div>

        <div class="hero-icons">

            <p><i class="fa-solid fa-wind icon"></i></p></i>
            <p><i class="fa-regular fa-lightbulb icon"></i></p></i>
            <p><i class="fa-solid fa-tv icon icon"></i></p></i>
            <p><i class="fa-solid fa-video icon"></i></p></i>
            <p><i class="fa-solid fa-person-booth icon"></i></p></i>
        </div>
    </div>

    <footer>
        <div>
            <p>Privacy Policy</p>
        </div>
        <div>
            <p> ©2022 @EaseHomes CO.., Ltd All rights reserved.</p>
        </div>
    </footer>
</body>



</html>